* { margin: 0; padding: 0; box-sizing: border-box;}


html,body {
    font-size: 10px;
    background-color: #aaaaaa;
}

header { margin-bottom: 0.5rem; }

header h1 {
    font-size: 8rem;
    text-align: center; 
    background: #f2fff2; 
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 1rem; 
}

main {
    max-width: 1200px;
    margin: 0 auto; 
    
}
main #theaters {
    display: block;
    margin: 0 auto;
    background-color: #00c060;
    margin-bottom: 0.5rem;
}

main h2{ font-size: 2rem; padding: 1rem; }

main #chooseTheater #dropdownArrow {
    font-size: 1rem;
}

main #chooseTheater:hover { 
    cursor: pointer;
    background: #666666; 
    color: white; 
    transition: all 0.5s; 
}

main #theaters #theaterList { 
    font-size: 1.8rem;
    list-style: none; 
    width: 100%;
    padding: 1rem;
    background-color: #51e57a;
}
main #theaters #theaterList li {
    display: inline-block;
    width: 25%;
    padding:0.5rem;
    margin-left: 5%;
}
main #theaters #theaterList li input,label:hover {
    cursor: pointer;
}
main #moviesTitle, main #toSeeTitle{
    background: #f2fff2;
    margin-bottom: 0.5rem;
}
main #movies, main #toSee{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding:1rem; 
}
main .movie {
    vertical-align: top;
    width: 23%;
    height: 55.3rem;
    margin: 0.9rem;
    background-color: #c2efbc;
}
#movies:after, #toSee:after {
    display: inline-block;
    width: 25%;
    padding:0.5rem;
    margin-left: 5%;
}
main .movie h3{ 
     white-space: nowrap;
    overflow: hidden;
    font-size: 1.4rem; 
    background-color: #00c060; 
    padding: .5em 1em;
    text-overflow:ellipsis;
}

main .movie img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 400px;
}
main .movie .info {
    display: block;
    font-size: 1.4rem;
    list-style: none; 
    height: 10rem;
    padding: 1rem;
}
main .movie .moveMovie {
    font-weight: bold;
    display: block;
    width: 100%; 
    padding: .5em 1em;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    background: #51e57a;
}
main .movie .moveMovie:hover { 
    cursor: pointer;
    background: #666666; 
    color: white; 
    transition: all 0.5s; 
}

main .movie .showtimes {
    visibility: hidden;
}
main #seen {}

footer{}

.hidden { display: none; }

@media only screen and (max-width: 1000px){
    main .movie {
        width: 30%;
    }
}
@media only screen and (max-width: 800px){
    main .movie{
    width: 45%;
    }
    main #theaters #theaterList li {
    width: 40%;
    }
}
@media only screen and (max-width : 500px){
    html, body {
        width: auto;
        overflow-x: hidden;
}
    main .movie {
        display: block;
        margin: 0 auto;
        min-width: 300px;
        width: 100%;
        margin-bottom: 0.5rem;
        float: none;
    }
    main #theaters #theaterList li {
    width: 100%;
    }
    main .movie img {
    display: block;
    margin: 0 auto;
    width: auto;
    }
    main .movie .info {
    text-align: center;
    padding: 0.5rem;
    }
    header h1 {
    font-size: 7rem;
    }
}