* { margin: 0; padding: 0; box-sizing: border-box ;}


html,body {
	font-size: 10px;
    background-color: #aaaaaa;
}

header {
	height: 200px;
}

header h1 {
	font-size: 8rem;
	text-align: center; 
	background: rgba(255, 255, 255, 0.9); 
	width: 100%; 
	max-width: 1200px; 
	margin: 0 auto; 
	padding: 10px; 
}

main {
	max-width: 1200px;
	background: #f2f2f2;
	margin: auto;	/* sticky footer - taka út?*/
	
}
main #theaters {
	padding: 1rem;
}
main #theaters #theaterList { 
	font-size: 1.8rem;
	list-style: none; 
	width: 100%;
}
main #theaters #theaterList li {
	float: left; 
  	width: 20%;
 }
main #tosee {}
main #movies {}
main #movies .movie {
	width: 25%;
	float: left;
}
main #seen {}

footer{}