<!doctype html>
<html lang="is">
<head>
    <meta charset="utf-8">
    <meta name='author' content='Bjarni Jens Kristinsson'>
    <meta name='author' content='Guðrún Þóra Sigurðardóttir'>
    <meta name='author' content='Kristrún Skúladóttir'>
    <title>Bíó</title>
    {% load staticfiles %}
    <link rel='stylesheet' href='{% static 'movies/style.css' %}'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <header>
        <h1>Bíósýningar</h1>
    </header>
    <main>
        <div id="theaters">
            <div id="chooseTheater">
                <h2>Velja Kvikmyndahús <span id="dropdownArrow">▼</span></h2>
            </div>
            <ul id="theaterList" class="hidden">
                {% for key, value in theaterList.items %}
                    <li>
                        <input type="checkbox" name="theater" id="{{ key }}" value="{{ key }}">
                        <label for="{{ key }}">{{ value }}</label>
                    </li>
                {% endfor %}            
            </ul>
        </div>
        <div id="toSeeTitle">
        	<h2>Mínar myndir</h2>
        	<div id="toSee">
                {% for movie in myMovies %}
                	<section class="movie">
                    	<h3 class="title"> {{ movie.title }} </h3>
                    	<figure><img src="{{ movie.image }}" /></figure>
                    	<div class="info">
                        	<p> Gefin út: {{ movie.released }} </p>
                        	<p> Bönnuð innan {{ movie.restricted }} ára</p>
                        	<p> IMDB: {{ movie.imdb }} </p>
                    	</div>
                    	<p class="showShowtimes">Engir sýningartímar hérna núna!</p>
                	</section>
                {% endfor %}
        	</div>
    	</div>
		<div id="moviesTitle">
			<h2>Allar myndir</h2>
			<div id="movies">
					{% for ms in allMovies %}
					<section class="movie {% for stimes in ms.Showtimes %} {{ stimes.getCinema }} {% endfor %}">
						<h3 class="title"> {{ ms.Movie.title }} </h3>
						<figure><img src="{{ ms.Movie.image }}" /></figure>
						<div class="info">
							<p> Gefin út: {{ ms.Movie.released }} </p>
							<p> Bönnuð innan {{ ms.Movie.restricted }} ára</p>
							<p> IMDB: {{ ms.Movie.imdb }} </p>
						</div>
						<p class="showShowtimes">Sjá sýningartíma</p>
						<ul class="showtimes">
						{% for st in ms.Showtimes %}
							<li> {{ st }} </li>
						{% endfor %}
						</ul>
					</section>
                	{% endfor %}
               </div>
        </div>
        <div id="seen"></div>
    </main>
    <footer>
        <!--eithvað um hvaðan gögnin eru fengin?-->
    </footer>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src='{% static 'movies/script.js' %}'></script>
</body>
</html>