<!doctype html>
<html lang="is">
<head>
    <meta charset="utf-8">
    <meta name='author' content='Bjarni Jens Kristinsson'>
    <meta name='author' content='Guðrún Þóra Sigurðardóttir'>
    <meta name='author' content='Kristrún Skúladóttir'>
    <title>Bíó</title>
    {% load staticfiles %}
    <link rel='stylesheet' href='{% static 'movies/style.css' %}'>
<!--
    <script src='functionality.js'></script>
-->
</head>
<body>
    <header>
        <h1>Bíósýningar</h1>
    <header/>
	<main>
		<div id="theaters">
	        <h2 id="chooseTheater">Velja Kvikmyndahús</h2>
	        <ul id="theaterList">
	            {% for key, value in theaterList.items %}
    	        	<li>
        	        	<input type="checkbox" name="theater" id="{{ key }}" value="{{ key }}">
		                <label for="{{ key }}">{{ value }}</label>
    		        </li>
    			{% endfor %}			
			</ul>
		</div>
		<div id="toSee">
			<!--einhver foreach lykkja sem ítrar í gegnum allar myndir, býr til eitt card fyrir hvera mynd-->
		</div>
		<div id="movies">
				{% for movie in allMovies %}
				<section class="movie">
					<p> {{ movie.title }} </p>
					<p> {{ movie.released }} </p>
					<p> {{ movie.restricted }} </p>
					<p> {{ movie.imdb }} </p>
					<img src="{{ movie.image }}" />
					<ul id="theaters">
					{% for st in showtimes %}
						{% for t in st %}
						<li> {{ st.cinema }} </li>
						<li> {{ t }} </li>
						{% endfor %}
					{% endfor %}
					</ul>
					-->
				</section>
				{% endfor %}
		</div>
		<div id="seen"></div>
	</main>
	<footer>
		<!--eithvað um hvaðan gögnin eru fengin?-->
	</footer>
</body>
</html>