<!doctype html>
<html lang="is">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Bjarni Jens Kristinsson">
    <meta name="author" content="Guðrún Þóra Sigurðardóttir">
    <meta name="author" content="Kristrún Skúladóttir">
    <link rel="canonical" href="//bio.bjk.is/" />
    <title>Bíó</title>
    {% load staticfiles %}
    <link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'movies/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <header>
        <h1>Bíósýningar</h1>
    </header>
    <main>
        <div id="theaters">
            <div id="chooseTheater">
                <h2>Velja Kvikmyndahús <span id="dropdownArrow">▼</span></h2>
            </div>
            <ul id="theaterList" class="hidden">
                {% for key, value in theaterList.items %}
                    <li>
                        <input type="checkbox" id="{{ key }}" class="theater" name="theater" value="{{ key }}" checked="checked">
                        <label for="{{ key }}">{{ value }}</label>
                    </li>
                {% endfor %}            
            </ul>
        </div>
        <div id="toSeeTitle" class="hidden">
            <h2>Mínar myndir</h2>
            <div id="toSee">
                {% for movie in myMovies %}
                    <section class="movie {{ movie.getCinemaString }}" id="{{ movie.id }}">
                        <h3 class="title"> {{ movie.title }} </h3>
                        <div class="figureAndShowtimes">
                            <img src="{{ movie.image }}" alt="Plakat fyrir {{ movie }}"/>
                            <div class="showtimes">
                                <ul>
                                {% for cinema in movie.getShowtimeList %}
                                    <ol>
                                    {% for st in cinema %}
                                        {% if "1" not in st and "2" not in st %}
                                            <li class="cinema">{{ st }}</li>
                                        {% else %}
                                            <li>{{ st }}</li>
                                        {% endif %}
                                    {% endfor %}
                                    </ol>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="info">
                            <p> Gefin út: {{ movie.released }} </p>
                            <p> Bönnuð innan {{ movie.restricted }} ára</p>
                            <p> IMDB: {{ movie.imdb }} </p>
                            <a href="{{ movie.imdbLink }}">Myndin á IMDB</a>
                        </div>
                        <div class="moveMovie">Taka úr mínum myndum</div>
                    </section>
                {% endfor %}
            </div>
        </div>
        <div id="moviesTitle">
            <h2 id="otherMovies">Aðrar myndir</h2>
            <div id="movies">
                    {% for movie in allMovies %}
                    <section class="movie {{ movie.getCinemaString }}" id="{{ movie.id }}">
                        <h3 class="title"> {{ movie.title }} </h3>
                        <div class="figureAndShowtimes">
                            <img src="{{ movie.image }}" alt="Plakat fyrir {{ movie }}"/>
                            <div class="showtimes">
                                <ul>
                                {% for cinema in movie.getShowtimeList %}
                                    <li><ul>
                                    {% for st in cinema %}
                                        {% if "1" not in st and "2" not in st %}
                                            <li class="cinema">{{ st }}</li>
                                        {% else %}
                                            <li>{{ st }}</li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul></li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="info">
                            <p> Gefin út: {{ movie.released }} </p>
                            <p> Bönnuð innan {{ movie.restricted }} ára</p>
                            <p> IMDB: {{ movie.imdb }} </p>
                            <a href="{{ movie.imdbLink }}">Myndin á IMDB</a>
                        </div>
                        <div class="moveMovie">Bæta við mínar myndir</div>
                    </section>
                    {% endfor %}
               </div>
        </div>
    </main>
    <footer>
        <p>Gögnin komu frá <a href="//docs.apis.is/">Apis.is</a></p>
        <a href="//github.com/bjk17/cinema/"><img src="{% static 'movies/GitHub-Mark-32px.png' %}" alt="Frumkóði"/></a>
    </footer>
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="{% static 'movies/script.js' %}"></script>
</body>
</html>
